<div class="container col-sm-12 col-md-6 col-lg-8">
    <div class="form-group" *ngIf="isClicked == false">
        <label class="form-row">הכנס את כתובת האמייל שלך:</label>
        <input type="email" [(ngModel)]="employee_service.email" class="col-12">
        <button class="btn m-3" (click)="forgotPassword()">שלח</button>
    </div>

    <div *ngIf="isClicked == true">
        <div class="form-group">
            <label class="form-row">סיסמה חדשה:</label><input type="password" name="password"
                [(ngModel)]="employee_service.employee.password" #newPassword="ngModel" required appShowPassword
                class="col-12">
            <div class="alert-warning col-12" *ngIf="newPassword.invalid && (newPassword.dirty || newPassword.touched)">
                <p *ngIf="newPassword.errors.required">שדה חובה</p>
            </div>
        </div>
        <div class="form-group mb-3">
            <label class="form-row"> אימות סיסמה:</label><input type="password" name="verifyPassword"
                [(ngModel)]="employee_service.sec_password" #verifyPassword="ngModel" required appShowPassword
                class="col-12">
            <div class="alert-warning col-12"
                *ngIf="verifyPassword.invalid && (verifyPassword.dirty || verifyPassword.touched)">
                <p *ngIf="verifyPassword.errors.required">שדה חובה</p>
            </div>
            <div class="alert-warning col-12" *ngIf="verifyPassword.dirty || verifyPassword.touched">
                <p *ngIf="business_service.business.password != business_service.sec_password">סיסמאות לא זהות</p>
            </div>
            <button class="btn m-3">שלח</button>
        </div>
    </div>
</div>