<div class="container col-sm-12 col-md-6 col-lg-8">
    <div class="sub_container">
        <h2>מתאריך עד תאריך...</h2>
        <h4>סמן כל משמרת בדרגת העדיפות שלך</h4>
        <h5>לחץ על כפתור וצבע את המשמרות לפי עדיפותך</h5>
        <h5>משמרת שלא תדרג תדורג כברירת מחדל בדרגת יכול</h5>

        <div class="p-5">
            <button class="btn" style="background-color: rgb(212, 241, 255);"
                (click)="changeDirectiveColor('מעדיף')">מעדיף</button>
            <button class="btn" style="background-color: rgb(152, 200, 210);"
                (click)="changeDirectiveColor('יכול')">יכול</button>
            <button class="btn" style="background-color: rgb(120, 157, 163);"
                (click)="changeDirectiveColor('לא יכול')">לא יכול</button>
            <button class="btn" style="background-color: rgb(74, 152, 190);"
                (click)="changeDirectiveColor('מעדיף שלא')">מעדיף שלא</button>

        </div>
        <div class="scrollmenu col-10">
            <table class="table mb-2" id="scheduleTable" *ngIf="shift_service.list_shifts != null">
                <tr>
                    <th *ngFor="let day of activity_days">{{day}}</th>
                </tr>
                <tr *ngFor="let shift of shift_service.list_shifts">
                    <td *ngFor="let day of activity_days" appChangeColor
                        [style.background-color]="getRatingColor(shift.id, day)"
                        (click)="AddOrUpdate(shift.id, day, $event)">
                        {{shift.name}}
                    </td>
                </tr>
            </table>
            <div class="alert-warning col-12" *ngIf="integration_service.list_rating == null">
                <p>לא דרגת אף משמרת</p>
            </div>
            <div class="alert-warning col-12" *ngIf="cnt_can_not > 4">
                <p>{{message}}</p>
            </div>
            <div class="alert-warning col-12" *ngIf="cnt_not_prefere > 5">
                <p>{{message}}</p>
            </div>
        </div>

    </div>
</div>