<div class="container d-flex flex-row col-sm-12 col-md-6 col-lg-8">
    <div class="sub_container col-12">
        <div *ngIf="is_edit == 'false'">
            <div style="margin: auto;">
                <p id="explanation">
                    באפשרותך להעלות קובץ אקסל המכיל את נתוני העובדים.
                     קובץ האקסל יכיל את השדות: מספר זהות, שם, תפקיד, כתובת דוא"ל, טלפון ומחלקה ולא יכיל שדות נוספים.
                     במידת הצורך ישנה אפשרות להוסיף
                    עובד בצורה ידנית</p>
                <input type="file" (change)="saveFile($event.target.files)"><br>
                <button class="btn btn-lg" (click)="importData()">הוספת עובדים</button><br>
            </div>
        </div>
        <div id="AddEmployee">
            <h3 *ngIf="is_edit == 'false'">הוספת עובד חדש</h3>
            <h3 *ngIf="is_edit == 'true'">עריכת עובד קיים</h3>
            <form #addEmployees="ngForm" class="form">
                <div class="form-group">
                    <label class="form-row">שם:</label>
                    <input type="text" name="employee_name" #employee_name="ngModel" class="col-12" required  pattern="[a-zא-תA-Z ]*" 
                    [(ngModel)]="employee_service.employee.name">
                    <div class="alert-warning col-12"
                    *ngIf="employee_name.invalid && (employee_name.dirty || employee_name.touched)">
                    <p *ngIf="employee_name.errors.required">שדה חובה</p>
                    <p *ngIf="employee_name.errors.pattern">יש להכניס אותיות בלבד</p>
                </div>
                </div>

                <div class="form-group">
                    <label class="form-row">מספר זהות:</label>
                    <input type="text" name="employee_id" #employee_id="ngModel" pattern="[0-9]{9}" required class="col-12"
                        [(ngModel)]="employee_service.employee.id">
                        <div class="alert-warning col-12"
                        *ngIf="employee_id.invalid && (employee_id.dirty || employee_id.touched)">
                        <p *ngIf="employee_id.errors.required">שדה חובה</p>
                        <p *ngIf="employee_id.errors.pattern">הכנס תעודת זהות תקינה </p>
                    </div>
                    <div class="alert-warning col-12" *ngIf="business_service.checkIfCorrect(employee_id.value)">
                        <p>מספר זהות לא תקין</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-row">מספר טלפון:</label>
                    <input type="text" name="emplyee_phone" class="col-12" required pattern="05?[0-9]-?[0-9]{7}" #emplyee_phone="ngModel"
                        [(ngModel)]="employee_service.employee.phone">
                        <div class="alert-warning col-12"
                        *ngIf="emplyee_phone.invalid && (emplyee_phone.dirty || emplyee_phone.touched)">
                        <p *ngIf="emplyee_phone.errors.required">שדה חובה</p>
                        <p *ngIf="emplyee_phone.errors.pattern">הכנס מספר פלאפון תקין </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-row">כתובת דוא"ל:</label>
                    <input type="email" name="emplyee_task" class="col-12" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" #emplyee_task="ngModel"
                        [(ngModel)]="employee_service.employee.email">
                        <div class="alert-warning col-12" 
                        *ngIf="emplyee_task.invalid && (emplyee_task.dirty || emplyee_task.touched)">
                            <p *ngIf="emplyee_task.errors.required">שדה חובה</p>
                            <p *ngIf="emplyee_task.errors.pattern">אנא הזן כתובת מייל תקינה</p>
                        </div>
                </div>
                <div class="form-group">
                    <label class="form-row">מחלקת עובד: </label>
                    <ul class="list-group checkbox">
                        <li class="list-group-item" *ngFor="let ward of ward_service.list_wards">
                            <input type="checkbox" class="cb" (click)="AddTolistDepOrRemove(ward)" [checked]="isInThisDep(ward.id)">
                            <label>{{ward.name}}</label>
                        </li>
                    </ul>
                </div>
                <div class="form-group">
                    <label class="form-row">תפקיד:</label>
                    <select class="form-row col-12" [(ngModel)]="employee_service.employee.role_id" name="roleName">
                        <option *ngFor="let role of employee_roles_service.list_roles" value="{{role.id}}">
                            {{role.role}}
                        </option><br>
                    </select>
                </div>
                <!-- [disabled]="addEmployees.form.invalid" -->
                <button class="btn" (click)="AddEditEmployee()" >אישור</button>
                <div *ngIf="is_success == true">
                    הפרטים נקלטו בהצלחה!!
                </div>
            </form>
        </div>
    </div>
</div>