.container
{
    direction: rtl;
    text-align: center;
    align-items: center;
    display: flex;
}
.sub_container
{
    margin: auto;
}
.form-group
{
    width: 400px;
    margin: auto;
    text-align: center;
    margin-bottom: 10px;
}
.list-group,.list-group-item
{
    border-color: rgb(4, 112, 185);
}
.cb
{
    margin: 10px;
}
#explanation
{
    width: 300px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}
input, select
{
    border-radius: 13px;
    border-color: rgb(4, 112, 185);
    border-style: solid;
    border-width: thin;
}
option
{
    outline: none;
}
input:focus-visible
{
    outline: none;
    border-color: rgb(36, 134, 176);
    border-width:2px;
}
select:focus-visible
{
    outline: none;
    border-color: rgb(36, 134, 176);
    border-width:2px;
}
button
{
    background-color: rgb(77, 131, 191);
    color:rgb(255, 255, 255);
    margin: 10px;
}
label
{
    direction: rtl;
    color: rgb(39, 29, 40);
    font-weight: 499;
}