<div class="container col-sm-12 col-md-6 col-lg-8">
    <h2>התחברות</h2>
    <form>
      <div class="ma form-group">
        <label for="uname" class="form-row">שם משתמש:</label>
        <input type="text" id="uname" placeholder="הכנס שם משתמש" name="uname" required class="col-12" [(ngModel)]="employee_service.employee.email">
      </div>
      <div class="form-group mb-3">
        <label for="pwd" class="form-row">סיסמה:</label>
        <input type="password"  id="pwd" placeholder="הכנס סיסמה" name="pswd" required class="col-12" [(ngModel)]="employee_service.employee.password" appShowPassword>
      </div>
      <button type="submit" class="btn" (click)="logIn()">אישור</button>
    </form>
    <a [routerLink] = "['/forgot-password']">שכחת סיסמה?</a>
  </div>
