.card
{
    width:400px;
    height: 200px;
    margin:auto;
    text-align: center;
}
.container
{
    direction: rtl;
    text-align: center;
    margin:auto;
    height: 500px; 
    align-items: center;
    display: flex;
}
button
{
    background-color: rgb(77, 131, 191);
    color:rgb(255, 255, 255)
}