<div class="container col-sm-12 col-md-6 col-lg-8">
    <div class="sub_container">
        <h2> תפקידי עובדים</h2>
        <div class="ma form-group">
            <label class="form-row">הכנס שם תפקיד</label>
            <input type="text" class="col-12" [(ngModel)]="employees_role_service.role.role">
            <label class="form-row">מספר משמרות מינימלי לביצוע</label>
            <input type="number" class="col-12" [(ngModel)]="employees_role_service.role.min_of_shift">
        </div>
        <button class="btn m-3" (click)="AddOrUpdate()">הוסף תפקיד</button>
        <table *ngIf="employees_role_service.list_roles.length != 0" class="table">
            <tr>
                <th>תפקיד</th>
                <th>מספר משמרות מינימלי לביצוע</th>
            </tr>
            <tr *ngFor="let role of employees_role_service.list_roles">
                <td>{{role.role}}</td>
                <td>{{role.min_of_shift}}
                    <button (click)="delete(role.id)" class="btn mr-5">מחיקה</button>
                    <button (click)="edit(role.id)" class="btn mr-1">עריכה</button>
                </td>

            </tr>
        </table>
        <button class="btn m-3" (click)="next()">הבא</button>
    </div>
</div>