<div class="container col-sm-12 col-md-6 col-lg-8">
    <div class="sub_container">
        <h2>שיבוץ לשבוע תאריך...</h2>

        <div *ngFor="let ward of ward_service.list_wards" class="col-12 ward mb-3">
            <h2>מחלקת {{ward.name}} </h2>
            <div class="scrollmenu col-10">
                <table class="table mb-2" id="scheduleTable">
                    <tr>
                        <th *ngFor="let day of activity_days">{{day}}</th>
                    </tr>
                    <tr class="dropdown" *ngFor="let shift of shift_service.list_shifts">
                        <td *ngFor="let day of activity_days">
                            <b style="margin: auto;">{{shift.name}}</b>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item"
                                    *ngFor="let name of getAssigningForDay(day,shift.id, ward.id)">
                                    <input type="text" [readonly] = "!employee_service.is_director" value="{{name}}" (blur)="Edit()" class="assigngin_name"> 
                                    <!-- {{name}} -->
                                </li>
                            </ul>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>