.container
{
    text-align: center;
    direction: rtl;
    margin: auto;
    align-items: center;
    display: flex;
}
.sub_container
{
    width: 80%;
    margin:auto;
}
table
{
    direction: rtl;
    text-align: center;
    border-style: solid;
    border-width: thin;
    border-radius: 25px;
    border-color: rgb(129, 182, 226);
    margin: auto;
    
}
th, td
{
    border-color: rgb(129, 182, 226);
    border-style: solid;
    border-width: thin;
    font-size: 15px;
}
th
{
    color:rgb(15, 76, 191) ;
}

input
{
    border-radius: 13px;
    border-color: rgb(4, 112, 185);
    border-style: solid;
    border-width: thin;
}
input:focus-visible
{
    outline: none !important;
    border-color: rgb(36, 134, 176);
    border-width:2px;
}
.scrollmenu {
    overflow: auto;
    white-space: nowrap;
    margin: auto;
  }
  .assigngin_name{
      outline-color:rgb(36, 134, 176);
      outline-width: 2px;
      border: none;
      width: 100%;
      /* background-color: aquamarine; */
  }
  .list-group
  {
      margin: auto;
      width: 100px;
      padding: 2px;
  }
  button
{
    background-color: rgb(77, 131, 191);
    color:rgb(255, 255, 255)
}
.disabled
{
    font-weight:bold;
    width: 300px;
    margin: auto;
}
.form-group{
    margin: auto;
}
.float-right{
    margin:10px;
}
.cb
{
    margin: 10px;
}
.checkbox
{
    width: 250px !important;
}
.loader {
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #3498db;
    width: 75px;
    height: 75px;
    animation: spin 2s linear infinite
  }
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}
.loader_container
{
    width: 100%;
    height: 100%;
    position:absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(225, 225, 225, 0.8)
}