<div class="container col-sm-12 col-md-6 col-lg-8">
    <h2>שיבוץ לשבוע תאריך...</h2>
    <table class="table col-10 mb-2" id="scheduleTable">
        <tr>
            <th>ראשון</th>
            <th>שני</th>
            <th>שלישי</th>
            <th>רביעי</th>
            <th>חמישי</th>
            <th>שישי</th>
            <th>שבת</th>
        </tr>
        <!-- לשנות על פי שמות המשמרות שהוכנסו -->
        <tr *ngFor="let shift of ward_service.list_shifts">
            <td *ngFor="let item of activity_days">{{shift}}</td>
        </tr>

    </table>
</div>
