<div class="card" style="width: 16rem;">
  <div class="card-body">
    <h5 class="card-title">שם פרטי ומשפחה</h5>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">מספר זהות</li><!-- להסתיר במצב עובד רגיל -->
    <li class="list-group-item">מספר טלפון</li>
    <li class="list-group-item">כתובת דוא"ל</li>
    <li class="list-group-item">תפקיד</li>
    <li class="list-group-item">מחלקה</li>
  </ul>
  <button class="btn card-footer" (click)="edit()">עריכה</button><!-- להסתיר במצב עובד רגיל -->
</div>