<div class="card" style="width: 16rem;">
  <div class="card-body">
    <h5 class="card-title">{{currentEmployeeWhole.employee.name}}</h5>
  </div>
  <ul class="list-group list-group-flush">
    <li *ngIf = "employee_service.is_director == true" class="list-group-item">{{currentEmployeeWhole.employee.id}}</li>  
    <li class="list-group-item">{{currentEmployeeWhole.employee.phone}}</li>
    <li class="list-group-item">{{currentEmployeeWhole.employee.email}}</li>
    <li class="list-group-item">{{getRoleNameById()}}</li>
    <li class="list-group-item" *ngFor="let dep of currentEmployeeWhole.list_departments">מחלקת {{dep.name}} </li>
  </ul>
  <button *ngIf = "employee_service.is_director == true" class="btn card-footer" (click)="edit()">עריכה</button><!-- להסתיר במצב עובד רגיל -->
  <button *ngIf = "employee_service.is_director == true" class="btn card-footer" (click)="delete()">מחיקה</button><!-- להסתיר במצב עובד רגיל -->

</div>