<div class="container col-sm-12 col-md-6 col-lg-8">
    <p>בכל מחלקה יש ללחוץ על המשמרות בהן היא פעילה</p>
    <div *ngFor="let ward of ward_service.list_wards;let i = index" class="col-12 ward mb-3">
        <h2> {{ward.name}}</h2>
        <label> מס' סוגי עובדים במחלקה זו: </label>
        <input type="number" name="num_task" [(ngModel)]="ward.num_tasks" (blur)="init_list(i)"><br>
        <div *ngIf = "ward.list_tasks.length != 0">
            <label>תפקידי עובדים : </label>
            <p *ngFor = "let task of ward.list_tasks; let j = index;trackBy:trackByIdx"><input placeholder="הכנס תפקיד" [(ngModel)] = "ward.list_tasks[j]" class="col-4"><br></p>
        </div>
        
        <table  class="table col-10 mb-2" id="scheduleTable">
            <tr>
                <th>ראשון</th>
                <th>שני</th>
                <th>שלישי</th>
                <th>רביעי</th>
                <th>חמישי</th>
                <th>שישי</th>
                <th>שבת</th>
            </tr>
            <tr class="dropdown" *ngFor="let shift of ward_service.list_shifts">
                <td *ngFor="let item of activity_days" data-toggle="dropdown" appChangeColor>{{shift}}</td>
                <ul class="dropdown-menu">
                    <li class="dropdown-header">מספר עובדים בכל משמרת</li>
                    <li *ngFor = "let task of ward.list_tasks"><label>{{task}}</label><input type="number"></li>
                </ul>
            </tr>
        </table>
        <!-- נתון לשינוי -->
        <label>מספר משמרות מינימלי לביצוע: </label>
        <input type="number"><br>
    </div>
    <button class="btn" (click)="next()">הבא</button>
</div>