<div class="container col-sm-12 col-md-6 col-lg-8">
    <div class="ma form-group">
        <label class="form-row">הכנס שם משמרת</label>
        <input type="text" class="col-12" [(ngModel)]="shift_service.shift.name">
    </div>
    <button class="btn m-3" (click)="AddOrUpdate('shift')">הוסף משמרת</button>
    <table *ngIf="shift_service.list_shifts.length != 0" class="table">
        <tr>
            <th>משמרת</th>
        </tr>
        <tr *ngFor="let shift of shift_service.list_shifts">
            <td>
                {{shift.name}}
                <button class="btn" (click)="edit('shift', shift.id)">עריכה</button>
            </td>

        </tr>
    </table>

    <div class="ma form-group">
        <label class="form-row">הכנס שם מחלקה</label>
        <input type="text" class="col-12" [(ngModel)]="ward_service.ward.name">
    </div>
    <button class="btn m-3" (click)="AddOrUpdate('ward')">הוסף מחלקה</button>
    <table *ngIf="ward_service.list_wards.length != 0" class="table">
        <tr>
            <th>מחלקה</th>
        </tr>
        <tr *ngFor="let ward of ward_service.list_wards">
            <td>
                {{ward.name}}
                <button class="btn" (click)="edit('ward', ward.id)">עריכה</button>
            </td>
        </tr>
    </table>
    <!-- [disabled]="wardsShifts.form.invalid" -->
    <button class="btn m-3" (click)="next()">הבא</button>
</div>