.container
{
    text-align: center;
    direction: rtl;
    margin: auto;   
    align-items: center;
    display: flex;
}
.form-group
{
    width: 400px;
    margin: auto;
    text-align: center;
}
.sub_container 
{
    width: 80%;
    margin:auto;
}
.scrollmenu {
    overflow: auto;
    white-space: nowrap;
    margin: auto;
  }
table
{
    text-align: center;
    border-style: solid;
    border-width: thin;
    border-radius: 25px;
    border-color: rgb(129, 182, 226);
    margin: auto;
    
}
th, td
{
    border-color: rgb(129, 182, 226);
    border-style: solid;
    border-width: thin;

}
th
{
    color:rgb(15, 76, 191) ;
}

label
{
    direction: rtl;
    color: rgb(39, 29, 40);
    font-weight: 499;
}
input
{
    border-radius: 13px;
    border-color: rgb(4, 112, 185);
    border-style: solid;
    border-width: thin;
    margin-left: 0px;
}
input:focus-visible
{
    outline: none;
    border-color: rgb(36, 134, 176);
    border-width:2px;
}
button
{
    background-color: rgb(77, 131, 191);
    color:rgb(255, 255, 255)
}


