<!-- תפריט עליון -->
<nav class="navbar navbar-expand-sm navbar-dark">
    <button class="navbar-toggler" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="nav navbar-nav">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['log-in']" *ngIf = "employee_service.employee.id == undefined">התחבר</a>
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" *ngIf = "employee_service.employee.id != undefined">{{employee_service.employee.name}}</a>

            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['integration']">מילוי שיבוץ שבועי</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['final-integration']">שיבוץ סופי</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['employees-list']">רשימת עובדים</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['constraints']">אילוצים קבועים</a>
            </li>
            <!-- <li class="nav-item dropdown" > -->
                <!-- <div class="dropdown-menu">
                    <label class="dropdown-item" (click)="GetOut()">יציאה</label>
                </div> -->
            <!-- </li> -->
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['home']">עמוד הבית</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['#']">תמיכה</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['#']">אודות</a>
            </li>
        </ul>
    </div>
</nav>