nav
{
    direction: rtl;
    background-color: rgb(77, 131, 191);
    width: 100%;

}
a, li
{
    color:rgb(255, 255, 255)
}
button
{
    color:rgb(255, 255, 255);
    outline-color:rgb(77, 131, 191);
    outline-width: thin;
}
div
{
    text-align: right;
}
.logo-img{
    float: right;
    position: relative;
}
.dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}
/* div label ul.dropdown {
    min-width: 100%; 
    display: none;
    position: absolute;
    z-index: 999;
    left: 0;
}
div label:hover ul.dropdown{
    display: block; 
}
div label ul.dropdown li:hover {
    display: block;
} */