nav
{
    direction: rtl;
    background-color: rgb(77, 131, 191);
    width: 100%;

}
a, li
{
    color:rgb(255, 255, 255)
}
button
{
    color:rgb(255, 255, 255);
    outline-color:rgb(77, 131, 191);
    outline-width: thin;
}
div
{
    text-align: right;
}
.logo-img{
    float: right;
    position: relative;
}