nav
{
    direction: rtl;
    background-color: rgb(77, 131, 191);
    width: 100%;

}
a, li
{
    color:rgb(255, 255, 255)
}
button
{
    color:rgb(255, 255, 255);
    outline-color:rgb(77, 131, 191);
    outline-width: thin;
}
div
{
    text-align: right;
}
.logo-img{
    float: right;
    position: relative;
}

div label ul.dropdown {
    min-width: 100%; 
    display: none;
    position: absolute;
    z-index: 999;
    left: 0;
}
div label:hover ul.dropdown{
    display: block; 
}
div label ul.dropdown li:hover {
    display: block;
}