<div class="container col-sm-12 col-md-6 col-lg-8">
    <form #businessDetails="ngForm" class="form">
        <h2>פרטי עסק</h2>
        <div class="form-group">
            <label class="form-row"> שם העסק: </label>
            <input type="text" name="b_name" #b_name=ngModel class="col-12" required [(ngModel)]="business_service.business.name">
            <div class="alert-warning col-12" *ngIf="b_name.invalid && (b_name.dirty || b_name.touched)">
                <p *ngIf="b_name.errors.required">שדה חובה</p>
            </div>
        </div>

        <div class="form-group">
            <label class="form-row">מספר עסק:</label>
            <input type="text" #numBussiness="ngModel" required
                name="numBussiness" [(ngModel)]="business_service.business.number" pattern="[0-9]+" class="col-12">
            <div class="alert-warning col-12"
                *ngIf="numBussiness.invalid && (numBussiness.dirty || numBussiness.touched)">
                <p *ngIf="numBussiness.errors.required">שדה חובה</p>
                <p *ngIf="numBussiness.errors.pattern">הכנס מספרים בלבד</p>
            </div>
        </div>

        <div class="form-group mb-3">
            <label class="form-row"> לוגו: </label><input type="file" name="logo"
                (change)="saveFile($event.target.files)" class="col-12">
        </div>
        <button class="btn" (click)="next()" [disabled]="businessDetails.form.invalid">הבא</button>
    </form>
</div>