.container
{
    text-align: center;
    direction: rtl;
    margin: auto; 
    height: 500px;
    align-items: center;
    display: flex;
}
.dropdown-menu
{
    text-align: center;
}
.sub_container
{
    margin: auto;
    width: 80%;
}
.table
{
    direction: rtl;
    text-align: center;
    border-style: solid;
    border-width: thin;
    border-radius: 25px !important;
    border-color: rgb(129, 182, 226);
    margin: auto;
}
.scrollmenu {
    overflow: auto;
    white-space: nowrap;
    margin: auto;
  }
.checkbox
{
    list-style: none;
    /* margin-left: 10px; */
}
th, td
{
    border-color: rgb(129, 182, 226);
    border-style: solid;
    border-width: thin;

}
th
{
    color:rgb(15, 76, 191) ;
}
button
{
    background-color: rgb(77, 131, 191);
    color:rgb(255, 255, 255)
}