<div class="container col-sm-12 col-md-6 col-lg-8">
    <!-- פריסה של כמה זמן? -->
    <h5>סמן את המשמרות בהן אינך יכול לעבוד באופן קבוע</h5>
    <table class="table" id="scheduleTable">
        <tr>
            <th>ראשון</th>
            <th>שני</th>
            <th>שלישי</th>
            <th>רביעי</th>
            <th>חמישי</th>
            <th>שישי</th>
            <th>שבת</th>
        </tr>
        <!-- לשנות על פי שמות המשמרות שהוכנסו -->
        <tr class="dropdown">
            <td *ngFor="let item of activity_days" data-toggle="dropdown">
                תאריך
            </td>
            <ul class="dropdown-menu checkbox">
                <li *ngFor = "let shift of ward_service.list_shifts"><input type="checkbox"><label>{{shift}}</label></li>
            </ul>
        </tr>
        <tr class="dropdown">
            <td *ngFor="let item of activity_days" data-toggle="dropdown">תאריך</td>
            <ul class="dropdown-menu checkbox">
                <li *ngFor = "let shift of ward_service.list_shifts"><input type="checkbox"><label>{{shift}}</label></li>
            </ul>
        </tr>
        <tr class="dropdown">
            <td *ngFor="let item of activity_days" data-toggle="dropdown">תאריך</td>
            <ul class="dropdown-menu checkbox">
                <li *ngFor = "let shift of ward_service.list_shifts"><input type="checkbox"><label>{{shift}}</label></li>
            </ul>
        </tr>
        <tr class="dropdown">
            <td *ngFor="let item of activity_days" data-toggle="dropdown">תאריך</td>
            <ul class="dropdown-menu checkbox">
                <li *ngFor = "let shift of ward_service.list_shifts"><input type="checkbox"><label>{{shift}}</label></li>
            </ul>
        </tr>

    </table>
</div>