<div class="container col-sm-12 col-md-6 col-lg-8">
    <div class="sub_container">
        <h5>סמן את המשמרות בהן אינך יכול לעבוד באופן קבוע</h5>
        <h6>ניתן לקבוע עד {{max_can_not}} משמרות</h6>
        <table class="table mb-2" id="scheduleTable">
            <tr>
                <th *ngFor="let day of activity_days">{{day}}</th>
            </tr>
            <tr *ngFor="let shift of shift_service.list_shifts">
                <td *ngFor="let day of activity_days" appChangeColor
                    [style.background-color]="isHasConstraint(shift.id, day)" (click)="AddOrRemove(shift.id, day, $event)">
                    {{shift.name}}
                </td>
            </tr>
        </table>
        <div class="alert-warning col-12" *ngIf="message">
            <p>{{message}}</p>
        </div>
    </div>
</div>